<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Cari restaurant terbaik disini.">
  <meta name="theme-color" content="#20262E" />

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./images/logo/nc.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" crossorigin="anonymous"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">

  <title>Neangan Cafe</title>
</head>

<body>

  <a href="#mainContent" class="skip-link">Langsung ke daftar Cafe</a>

  <header class="app-bar">
    <div class="bar_menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="bar_brand">
      <img src="./images/logo/neangancafelogo.png" alt="NeanganCafeLogo">
    </div>
    <nav id="navigationDrawer" class="bar_navigation">
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/fakih-f" target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main id="mainContent" tabindex="0"></main>

  <footer>
    <p>Copyright © 2023 - NeanganCafe.</p>
  </footer>
</body>

</html>